.faixa-branca{
    width: 100%;           /* Largura da div ocupa 100% da tela */
    height: 150px;         /* Define uma altura fixa */
    background-color: white; /* Apenas para visualização */
}

body{
    background-image: url('/images/bg-slider.png');
    background-size: cover; /* A imagem cobre toda a área da div */
    background-repeat: no-repeat; /* A imagem não se repete */
}

.topo{
    width: 100%;
    height: 100px;
    background-image: url(/images/bg-top-cut.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo{
    text-align: center;           /* Alinha o texto dentro do header ao centro. */
    align-items: center;          /* Essa propriedade faz sentido dentro de um contêiner flex, mas aqui ela não terá efeito, pois o header não está usando display: flex. */
    max-width: 600px;             /* Define a largura máxima do header como 600px. A largura do header não pode ultrapassar 600px. */
    width: 100%;                  /* Define a largura do header */
    height: 150px;                /* Define a altura do logo*/
    margin: auto;                 /* Centraliza o header horizontalmente. Ao definir margem automática nas laterais, a div (ou qualquer outro elemento de bloco) será centralizada. */
    margin-bottom: 10px;
}

header img {
    width: 80%; /* A imagem vai ter 80% da largura da div */
    height: 100%; /* A imagem vai ter 100% da altura da div */
    object-fit: cover; /* Faz a imagem cobrir toda a div sem distorcer */
}

main{
    align-items: center;
    max-width: 600px;
    min-height: 400px;
    width: 100%;
    margin: auto;
    border: 1px solid green;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 1);
    background-color: white;
}

main h1{
    text-align: center;
    align-items: center;
    border: 1px solid green;;
    background-color: rgb(255, 255, 255, 0.5);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.5);
}

.formulario{
    text-align: center;
}

.btn{
    margin-top: 50px;
    margin-bottom: 25px;
    width: 200px;
    height: 50px;
    font-size: 25px;
    justify-content: center;
    cursor: pointer;
    font-family: Georgia, serif;
    background-color: rgb(255, 255, 255, 0.9);
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 0.9);
    border-radius: 15px;
    border: 1px solid green;
}

.data-geral{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
}

.botao{
    text-align: center;
    width: 35%;
    height: 35%;
    margin-left: auto;
    margin-right: auto;
}

.calendario1, .calendario2{
    font-size: 20px;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 15px;
    border: 1px solid green;
}

.data-inicio, .data-fim{
    border: 1px solid black;
    background-color: rgb(255, 255, 255, 0.8);
    box-shadow: 5px 5px 10px rgba(128, 128, 128, 1);   
    border-radius: 15px;
    border: 1px solid green;
}

.checkbox-geral{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
