<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styleV2.css">
    <link rel="stylesheet" href="/static/fonteV2.css">

    <title>ViaRondon</title>
</head>
<body>
    <header>
        <div class="faixa-branca">
            <div class="logo">
                <img src="/images/VIARONDON.jpg" alt="Via-Rondon" />
            </div>
        </div>
        <div class="topo">
        </div>
    </header>

    <main>
        <h1>Formulário de Pesquisa</h1>
        <div class="container-pai">
            <form action="/enviar" method="POST">
                <div class="data-geral">
                    <div>
                        <h2 class="data-inicio">Data Inicio</h2>
                            <input class="calendario1" type="date" id="data1" name="data-inicio" required><br><br>
                    </div>
                    <div>
                        <h2 class="data-fim">Data Fim</h2>
                            <input class="calendario2" type="date" id="data2" name="data-fim" required><br><br>
                    </div>
                </div>
                <div class="checkbox-geral">
                    <div class="checkbox">

                        <input type="checkbox" id="Safra" name="Safra" value="Safra">
                        <label for="vehicle1"> Safra</label><br>

                        <input type="checkbox" id="Madeira" name="Madeira" value="Madeira">
                        <label for="vehicle2"> Madeira</label><br>
                        
                        <input type="checkbox" id="Celulose" name="Celulose" value="Celulose">
                        <label for="vehicle3"> Celulose</label><br>

                        <input type="checkbox" id="Bracell" name="Bracell" value="Bracell">
                        <label for="vehicle1">  Bracell</label><br>

                        <input type="checkbox" id="Exportaçao" name="Exportaçao" value="Exportaçao">
                        <label for="vehicle2"> Exportaçao</label><br>
                        
                        <input type="checkbox" id="Hidrovia" name="Hidrovia" value="Hidrovia">
                        <label for="vehicle3"> Hidrovia</label><br>

                        <input type="checkbox" id="Ferrovia" name="Ferrovia" value="Ferrovia">
                        <label for="vehicle1"> Ferrovia</label><br>

                        <input type="checkbox" id="Custo De Frete" name="Custo De Frete" value="Custo De Frete">
                        <label for="vehicle2"> Custo De Frete</label><br>
                        
                        <input type="checkbox" id="Eldorado Mato Grosso do Sul" name="Eldorado Mato Grosso do Sul" value="Eldorado Mato Grosso do Sul">
                        <label for="vehicle3"> Eldorado Mato Grosso do Sul</label><br>

                        <input type="checkbox" id="Suzano Três Lagoas" name="Suzano Três Lagoas" value="Suzano Três Lagoas">
                        <label for="vehicle1"> Suzano Três Lagoas</label><br>

                    </div>

                    <div class="checkbox2">
                        <input type="checkbox" id="Rota Celulose" name="Rota Celulose" value="Rota Celulose">
                        <label for="vehicle2"> Rota Celulose</label><br>
                        
                        <input type="checkbox" id="Ribas Do Rio Pardo Suzano" name="Ribas Do Rio Pardo Suzano" value="Ribas Do Rio Pardo Suzano">
                        <label for="vehicle3"> Ribas Do Rio Pardo Suzano</label><br>

                        <input type="checkbox" id="Terminal Intermodal" name="Terminal Intermodal" value="Terminal Intermodal">
                        <label for="vehicle1"> Terminal Intermodal</label><br>

                        <input type="checkbox" id="Hidrovia Tiete" name="Hidrovia Tiete" value="Hidrovia Tiete">
                        <label for="vehicle2"> Hidrovia Tiete</label><br>
                        
                        <input type="checkbox" id="Eucalipto" name="Eucalipto" value="Eucalipto">
                        <label for="vehicle3"> Eucalipto</label><br>

                        <input type="checkbox" id="Hexatrem" name="Hexatrem" value="Hexatrem">
                        <label for="vehicle1"> Hexatrem</label><br>

                        <input type="checkbox" id="Transporte de Madeira" name="Transporte de Madeira" value="Transporte de Madeira">
                        <label for="vehicle2"> Transporte de Madeira</label><br>
                        
                        <input type="checkbox" id="Grãos" name="Grãos" value="Grãos">
                        <label for="vehicle3"> Grãos</label><br>

                        <input type="checkbox" id="Graneleiros" name="Graneleiros" value="Graneleiros">
                        <label for="vehicle1"> Graneleiros</label><br>

                        <input type="checkbox" id="Preço Combustível" name="Preço Combustível" value="Preço Combustível">
                        <label for="vehicle2"> Preço Combustível</label><br>
                        
                    </div>
                </div>
                
                <div class="botao">
                    <button type="submit" class="btn">Pesquisar</button>
                </div>
            </form>
        </div>
    
    </main>

    <footer>

    </footer>
    
</body>
</html>